body{
    display: block;
    background-color: var(--bg-color);
}

main{
    min-height: unset;
}

/*===================================== header =====================================*/
header {
    display: flex;
    justify-content: end;
    padding: 60px 60px 120px 60px;
    height: 50px;
    animation-name: bgOpacity;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

header div {
    display: flex;
    gap: 32px;
}

.logo {
    position: absolute;
    animation-name: zoomOut;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    height: 120px;
    left: 60px;
    top: 60px;
    z-index: 2;
}

main {
    animation-name: bgOpacity;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    width: 100%;
}

/*===================================== common login =====================================*/
a {
    color: var(--acccolor);
    text-decoration: none;
    cursor: pointer;
}

.arrow-back {
    position: absolute;
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.arrow-back:hover{
    background-color: var(--bg-color);
}

/*===================================== card =====================================*/

#loginCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-inline: auto;
    margin-top: 52px;
    filter: var(--drop-shadow);
    padding: 48px 115px 48px 115px;
    gap: 24px;
    border-radius: 30px;
    height: auto;
    width: fit-content;
}

#loginCard p {
    text-align: center;
}


#underline {
    height: 2px;
    width: 25%;
    background-color: var(--acccolor);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    margin-bottom: 26px;
}

form span {
    margin-top: -26px;
    margin-bottom: -26px;
    padding-left: 8px;
    height: 26px;
    width: 100%;
    color: red;
}

#name {
    background-image: url("../img/icons/login/user_line.svg");
}


#email {
    background-image: url("../img/icons/login/mail.svg");
}

#pwd,
#pwdCon {
    background-image: url("../img/icons/login/lock.svg");
}

#pwd:focus {
    background-image: url("../img/icons/login/visibility_off.svg");
    background-size: 28px;
}

#pwd.showPwd {
    background-image: url("../img/icons/login/visibility_on.svg");
    background-size: 28px;
}

.pwd-ext {
    display: flex;
    align-items: center;
    gap: 16px;
}

.pwd-ext a {
    margin-left: 8px;
}

#saveLogin {
    width: 25px;
}

.but-area {
    display: flex;
    gap: 24px;
}

.border-wrg {
    border-color: red;
}


#privacyPolicy{
    display: flex;
    align-items: center;
    justify-content: center;
}

#privacyPolicy span{
    color: black;
}

#privacyPolicy a:hover{
    text-decoration: underline;
}


#popupWrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
}

#popupText{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 74px;
    background-color: var(--primcolor);
    color: white;
    font-size: var(--fntsize20);
    padding: 0px 25px 0px 25px;
    width: fit-content;
}

#popupText.addAnimtaion{
    animation: showInformation 2s linear 0s 1 normal;
}

#popupWrapper.showPopup{
    z-index: 2;
    opacity: 1;
    transition: opacity 200ms linear;
}

/*===================================== footer =====================================*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 60px 60px 60px 60px;
}

footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fntsizebase);
    color: var(--fntcolor);
    transition: all var(--transtime) ease-in-out;
    width: 120px;
}

footer a:hover{
    color: var(--acccolor);
    font-weight: bold;
    transition: all var(--transtime) ease-in-out;
}

/*===================================== animations =====================================*/

@keyframes zoomOut {

    0% {
        height: 50vh;
        width: 50vw;
        left: 25vw;
        top: 25vh;
    }

    50% {
        height: 50vh;
        width: 50vw;
        left: 25vw;
        top: 25vh;
    }

    100% {
        height: 120px;
        width: 98px;
        left: 60px;
        top: 60px;
    }
}

@keyframes bgOpacity {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes showInformation {
    0% {bottom: -200px;}
    20% {bottom: calc(50% - 37px);}
    100% {bottom: calc(50% - 37px);}
}