#contentImpressum {
    padding: 70px 100px 10px 100px;
    height: calc(100vh - 90px);
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: thin;
}

#wrapperHL {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.btnreturn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    cursor: pointer;
    padding: 6px;
}

#wrapperTxt {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.chapter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    font-size: 27px;
    margin: 0;
}

p{
    margin: 0;
}

/*===================================== Responsive design =====================================*/
@media (max-width: 1050px){
    #contentImpressum{
        padding: 30px;
    }
}

@media (max-width: 550px){
    #wrapperHL h1{
        font-size: var(--fntsize47);
    }

    #contentImpressum h2{
        font-size: var(--fntsize21);
    }
}