#content {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

#headlineAddTask{
    font-size: var(--fntsize61);
    font-weight: bold;
    margin-bottom: 50px;
}

form{
    max-width: 1000px;
}

#formContent{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 60px;
    /* height: 480px; */
    overflow: scroll;
        scrollbar-width: none;
        margin-bottom: 20px;
        max-height: calc(100vh - 400px);
}

.requiredStar{
    color: #ff8190;
}

.verticalLine{
    height: 100%;
    width: 1px;
    background-color: var(--primcolor);
    border-radius: 3px;
}

.wrapperInputElement{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 440px;
}

input{
    width: unset;
}

textarea{
    font-size: var(--fntsize20);
    font-family: 'Inter';
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    outline: none;
    resize: none;
}

#formLeftSide{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#wrapperAssignedToSelection,
#wrapperCategorySelection{
    position: relative;
}

#wrapperAssignedToHL,
#wrapperCategoryHL,
#wrapperSubtaskHL
{
    position: relative;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-color: #FFFFFF;
}

#wrapperAssignedToHL input,
#wrapperCategoryHL input,
#wrapperSubtaskHL input
{
    width: 100%;
    border: none;
}

#wrapperAssignedToHL.styleOpen,
#wrapperCategoryHL.styleOpen {
    border-bottom: none;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}

#wrapperAssignedToHLImg,
#wrapperCategoryHLImg{
    transition: all var(--transtime) ease-in;
    width: 15px;
    aspect-ratio: 1;
}


.wrapperDropDownArrow{
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

.wrapperDropDownArrow:hover{
    background-color: #D1D1D1;
    transition: all var(--transtime) ease-in;
}

#wrapperAssignedToHLImg.styleOpen,
#wrapperCategoryHLImg.styleOpen{
    transform: rotate(180deg);
    transition: all var(--transtime) ease-in;
}

#wrapperMemberList,
#wrapperCategoryList {
    position: absolute;
    overflow: auto;
    height: 150px;
    scrollbar-width: thin;
    border: 1px solid #D1D1D1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
    background-color: #FFFFFF;
    padding: 0px 21px 8px 21px;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
}

.wrapperMemberListElement{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-right: 21px;
    cursor: pointer;
    border-radius: 5px;
}

.wrapperMemberListElement:hover{
    background-color: #D1D1D1;
    transition: all var(--transtime) ease-in;
}

.wrapperMemberListElement label{
    display: flex;
    align-items: center;
    gap: 5px;
}

.memberInitials{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fntsize12);
    color: #FFFFFF;
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1;
}

#wrapperAssignedToActual{
    display: flex;
    flex-direction: row;
    gap: 8px;
}


#formRightSide{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#taskDueDate{
    padding-right: 21px;
}

#wrapperPrio {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding: 2px;
}

#wrapperPrio label {
    width: 33% ;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#wrapperPrio label:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
}

#wrapperPrio input {
    display: none;
}

.prioImg {
    width: 20px;
    height: 15px;
}

#prioImgUrgent {
    -webkit-mask-image: url(../img/icons/addTask/prioUrgent.svg);
    mask-image: url(../img/icons/addTask/prioUrgent.svg);
    background-color: #FF3D00;
}

#prioUrgent:checked~label #prioImgUrgent {
    background-color: #FFFFFF;
}

#prioImgMedium {
    -webkit-mask-image: url(../img/icons/addTask/prioMedium.svg);
    mask-image: url(../img/icons/addTask/prioMedium.svg);
    background-color: #FFA800;
}

#prioMedium:checked~label #prioImgMedium {
    background-color: #FFFFFF;
}

#prioImgLow {
    -webkit-mask-image: url(../img/icons/addTask/prioLow.svg);
    mask-image: url(../img/icons/addTask/prioLow.svg);
    background-color: #7AE229;
}

#prioLow:checked~label #prioImgLow {
    background-color: #FFFFFF;
}

#prioUrgent:checked~#prioUrgentlabel {
    background-color: #FF3D00;
    color: #FFFFFF;
    font-weight: bold;
}

#prioMedium:checked~#prioMediumlabel {
    background-color: #FFA800;
    color: #FFFFFF;
    font-weight: bold;
}

#prioLow:checked~#prioLowlabel {
    background-color: #7AE229;
    color: #FFFFFF;
    font-weight: bold;
}


.wrapperCategoryListElement{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-right: 21px;
    cursor: pointer;
    border-radius: 5px;
    
}

.wrapperCategoryListElement:hover{
    background-color: #D1D1D1;
    transition: all var(--transtime) ease-in;
}

.wrapperCategoryDetails{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 20px;
}

.categoryColor{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.wrapperCategoryOtions{
    display: none;
    align-items: center;
    gap: 8px;
    height: 20px;
}

.wrapperCategoryListElement:hover .wrapperCategoryOtions{
    display: flex;
}

.categoryOptionEdit,
.subtaskOptionEdit{
    cursor: pointer;
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/addTask/edit.svg);
    mask-position: 50%;
    mask-repeat: no-repeat;
    background-color: var(--primcolor);
}

.categoryOptionDelete,
.subtaskOptionDelete{
    cursor: pointer;
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/addTask/delete.svg);
    mask-position: 50%;
    mask-repeat: no-repeat;
    background-color: var(--primcolor);
}

.subtaskOptionCheck{
    cursor: pointer;
    width: 20px;
    height: 20px;
    mask-image: url(../img/icons/addTask/check.svg);
    mask-position: 50%;
    mask-repeat: no-repeat;
    background-color: var(--primcolor);
}

.categoryOptionEdit:hover,
.categoryOptionDelete:hover,
.subtaskOptionEdit:hover,
.subtaskOptionDelete:hover,
.subtaskOptionCheck:hover{
    background-color: var(--acccolor);
}


.wrapperEditBtns{
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    padding: 5px;
    height: 20px;
}

.wrapperEditBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

.wrapperEditBtn:hover{
    background-color: #D1D1D1;
    transition: all var(--transtime) ease-in;
}

#wrapperCategoryColor{
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
}

#wrapperCategoryColor input{
    display: none;
}

#wrapperCategoryColor label{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all var(--transtime) ease-in;
}

#wrapperCategoryColor label:hover{
    background-color: #D1D1D1;
    transition: all var(--transtime) ease-in;
}

.colorDot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#categoryColorYellow:checked ~ #categoryColorYellowlabel,
#categoryColorOrange:checked ~ #categoryColorOrangelabel,
#categoryColorPink:checked ~ #categoryColorPinklabel,
#categoryColorBlue:checked ~ #categoryColorBluelabel,
#categoryColorLightblue:checked ~ #categoryColorLightbluelabel{
    background-color: #D1D1D1;
}


#inputNewCategory,
#inputNewSubtask{
    padding-right: 100px;
}

#wrapperSubtaskList{
    height: 120px;
    overflow: auto;
    scrollbar-width: thin;
}

.wrapperSubtaskListElement{
    position: relative;
}

.subtaskListPoint{
    position: absolute;
    left: 21px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primcolor);
}

.subtaskIptElement{
    height: 35px;
    width: 100%;
    padding-left: 40px;
    padding-right: 100px;
    cursor: pointer;
    margin: 2px 0;
    border-radius: 5px;
}

.subtaskIptElement:disabled{
    background-color: var(--bg-color);
    border: none;
}

.subtaskIptElement:disabled:hover{
    background-color: #D1D1D1;
}

.subtaskIptElement:enabled{
    border-radius: 0px;
    border-bottom: 2px var(--acccolor) solid;
}

.subtaskIptElement:hover ~ .wrapperSubtaskOtions{
    display: flex;
}

.subtaskIptElement:enabled ~ .wrapperSubtaskOtions{
    display: flex;
}


.wrapperSubtaskOtions{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    gap: 8px;
    height: 20px;
}

#formFooter{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#wrapperFormBtn{
    display: flex;
    gap: 16px;
}

.fromBtn{
    display: flex;
    gap: 8px;
}

#formBtnCreateImg{
    width: 15px;
    height: 15px;
    mask-image: url(../img/icons/addTask/check.svg);
    mask-position: 50%;
    mask-repeat: no-repeat;
    background-color: white;
}

#formBtnClearImg{
    width: 15px;
    height: 15px;
    mask-image: url(../img/icons/addTask/cross.svg);
    mask-position: 50%;
    mask-repeat: no-repeat;
    background-color: var(--primcolor);
}

#test:hover  #formBtnClearImg{
    background-color: var(--acccolor);
    transition: all var(--transtime) ease-in;
}


/*------------------ set responsive design ------------------*/
@media (max-width: 1350px){
    #content{
        padding: 30px;
    }

    #formContent{
        gap: 20px;
    }

    #formRightSide,
    #formLeftSide{
        flex-grow: 1;
    }

    .wrapperInputElement{
        width: unset;
    }
}

@media (max-width: 840px){
    form{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    #formContent{
        /* flex-grow: 1; */
        flex-direction: column;
        overflow: scroll;
        scrollbar-width: none;
        margin-bottom: 20px;
        max-height: calc(100vh - 90px - 90px - 260px);
        height: unset;
    }

    #formClearBtn{
        display: none;
    }

}

@media (max-width: 840px){
    #wrapperPrio{
        flex-direction: column;
        gap: 8px;
    }

    #wrapperPrio label{
        width: 100%;
    }

    #wrapperSubtaskList{
        height: 50px;
        overflow: unset;
    }
}