<div id="addtaskContainer">
    <form action="javascript:createTask()">
        <div class="addTaskHeadline">
            <h1 class="fontInter" id="addTaskHeader">Add Task</h1>
        </div>
        <div id="addTaskWrapper">
            <div id="leftSideAddTask">
                <label for="addTaskTitle" class="fontInter fontStyle">Title</label>
                <input type="text" id="addTaskTitle" class="addTaskStyle outlineNone" placeholder="Enter a title"
                    required>

                <label for="addTaskDescription" class="fontInter fontStyle">Description</label>
                <textarea id="addTaskDescription" class="addTaskStyle cursorPointer outlineNone"
                    placeholder="Enter a Description" required></textarea>

                <div class="fontInter fontStyle">Category</div>
                    <div class="container">
                        <div id="categorySelect">
                            <div class="categorySelectBtn"
                                onclick="renderUserList('.categorySelectBtn','newCategoryListItems')">
                                <span id="choosedCatagory" class="categoryBtnText">Select task category</span>
                                <span class="arrow-dwn">
                                    <img src="../img/icons/down-arrow.png" alt="">
                                </span>
                            </div>
                            <ul class="categoryListItems" id="newCategoryListItems">

                            </ul>
                        </div>
                        <div class="newCategoryContainer" id="newCategoryInputContainer">
                            <input placeholder="New category name" type="text" name="" id="newCategoryInput">
                            <div id="closeCreateIcons">
                                <img src="../img/icons/close.png" alt="" onclick="closeNewCategory()">
                                <img src="../img/icons/check.png" alt="" onclick="saveNewCategory()">
                            </div>                            
                        </div>
                    </div>
                    <div id="categoryColoredDots">

                    </div>
                <div class="fontInter fontStyle">Assigned to</div>
                <div class="container">
                    <div class="userSelectBtn" onclick="renderUserList('.userSelectBtn', 'userList')">
                        <span class="userBtnText" id="userBtnText">Select contacts to assign</span>
                        <span class="arrow-dwn">
                            <img src="../img/icons/down-arrow.png" alt="">
                        </span>
                    </div>
                    <ul class="userListItems" id="userList"></ul>
                </div>
            </div>
            <div id="verticalLine">
                <svg xmlns="http://www.w3.org/2000/svg" width="2" height="553" viewBox="0 0 2 553" fill="none">
                    <path d="M0.999512 1L1 552" stroke="#D1D1D1" stroke-linecap="round" />
                </svg>
            </div>
            <div id="rightSideAddTask">
                <label for="addTaskDueDate" class="fontInter fontStyle">Due date</label>
                <input type="date" name="Due Date" id="addTaskDueDate" class="fontInter outlineNone" required>

                <p class="fontInter fontStyle marginZero">Prio</p>
                <div class="prioContainer fontInter">
                    <input type="radio" id="urgent" name="tabs" value="2" />
                    <label class="tab priosContainer" for="urgent">Urgent
                        <img class="progressIcon" src="../img/icons/Add-Task-Prio-Urgent.svg" alt="">
                        <img class="IconHover" src="../img/icons/Add-Task-Prio-Urgent-hover.svg" alt="">
                    </label>
                    <input type="radio" id="medium" name="tabs" value="1" />
                    <label class="tab priosContainer" for="medium">Medium
                        <img class="progressIcon" src="../img/icons/Add-Task-Prio-Medium.svg" alt="">
                        <img class="IconHover" src="../img/icons/Add-Task-Prio-Medium-hover.svg" alt="">
                    </label>
                    <input type="radio" id="low" name="tabs" value="0" />
                    <label class="tab priosContainer" for="low">Low
                        <img class="progressIcon" src="../img/icons/Add-Task-Prio-Low.svg" alt="">
                        <img class="IconHover" src="../img/icons/Add-Task-Prio-Low-hover.svg" alt="">
                    </label>
                </div>

                <div id="subtaskWrapper">
                    <p class="fontInter fontStyle">Subtask</p>
                    <div id="subtaskContainer">
                        <input type="text" id="addTaskSubTask" class="fontInter outlineNone"
                            placeholder="Add new subtask">
                        <img id="addSubtask" src="../img/icons/Add-Task-Subtask-Add-Icon.svg" alt=""
                            onclick="createSubtask()">
                    </div>
                    <div id="subtaskCheckContainer">
                        <div class="subtaskWrapper">
                        </div>
                    </div>
                    <div id="addtaskBtnContainer">
                        <button class="but-light" onclick="clearTask()">Clear</button>
                        <button type="submit" class="but-dark">Create Task</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>