<div id="wrapperMenu">
    <img id="menulogo" src="../img/logo.svg" alt="Join Logo">
    <div id="menulinks">
        <a id="tabsummary" class="menulink" href="../pages/summary.html">
            <img class="menuicon" src="../img/icons/summary.svg" alt="Icon">
            <span>Summary</span>
        </a>
        <a id="tabboard" class="menulink" href="../pages/board.html">
            <img class="menuicon" src="../img/icons/board.svg" alt="Icon">
            <span>Board</span>
        </a>
        <a id="tabaddtask" class="menulink"  href="../pages/addtask.html">
            <img class="menuicon" src="../img/icons/addtask.svg" alt="Icon">
            <span>Add Task</span>
        </a>
        <a id="tabcontacts" class="menulink" href="../pages/contacts.html">
            <img class="menuicon" src="../img/icons/contacts.svg" alt="Icon">
            <span>Contacts</span>
        </a>
    </div>
</div>
<button id="tabimpressum" class="menulink" onclick="showElement(['contentImpressum'],event), hideElement(['content','contentHelp']), setActiveMenuTab('tabimpressum')">
    <img class="menuicon" src="../img/icons/impressum.svg" alt="Icon">
    <span>Legal notice</span>
</button>